*{
    font-family: 'Montserrat', sans-serif;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    padding-bottom: 0px;
}

.more {
    display: none;
}
.bcolour{
    color: black;
}

/*Cuisines*/
#cuisines{
    margin-top: 50px;
}
/*#cuisines img{
    width:65%;
    text-align: center;
}*/
#cuisines ul{
    list-style-type: none;
}
.cuisines-column{
    padding:40px;
}
.cuisines-description{
    margin-top: 20px;
}

.specialimg{
    display: none;
}
.buttonchan{
    border-radius: 25px;
}
.card-padding{
    padding: 20px;
}

/* Footer */
footer{
    background-color: black;
    margin-top: 50px;
    color:white;
    overflow: hidden;
}
footer hr{
    border: 2px solid white;
    width:50%;
}
footer a{
    color:blue;
}
footer a:hover{
    color:white;
}
.footer-h1{
    padding-top: 30px;
}
.footer-column{
    padding:20px;
    text-align: center;
}
body{ 
    padding-top: 50px; 
}

@media all and (max-width:574px){
    .specialimg{
        display: block;
    }
    .specialimg1{
        display: none;
    }
}
