*{
    font-family: 'Montserrat', sans-serif;
}

/*Navbar*/
.nvbr{
    width: 100%;
    height: 100%;
}

.more {
    display: none;
}

/*Cuisines*/
#cuisines{
    margin-top: 50px;
}
#cuisines img{
    width:65%;
    text-align: center;
}
#cuisines ul{
    list-style-type: none;
}
.cuisines-column{
    padding:40px;
}
.cuisines-description{
    margin-top: 20px;
}

.specialimg{
    display: none;
}
.buttonchan{
    border-radius: 25px;
}
img{
    border-radius: 25%;
}

/* Footer */
footer{
    background-color: black;
    margin-top: 50px;
    color:white;
    overflow: hidden;
}
footer hr{
    border: 2px solid white;
    width:50%;
}
footer a{
    color:blue;
}
footer a:hover{
    color:white;
}
.footer-h1{
    padding-top: 30px;
}
.footer-column{
    padding:20px;
    text-align: center;
}
@media all and (min-width:992px){
    .nvbr{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media all and (max-width:574px){
    .specialimg{
        display: block;
    }
    .specialimg1{
        display: none;
    }
}

@media all and (max-width:992px){
    .navbar-toggler{
        float:right;
    }
}